@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply min-h-screen flex flex-col;
  font-family: "Digital-7 Mono", sans-serif;
  background: radial-gradient(circle at top, #2d0136, #0f0216 60%, #05010b 90%);
  overflow-y: auto;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

#modal-root {
  display: flex; /* Hide the modal-root completely */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

#root {
  flex-grow: 1; /* Allow content to grow and fill the available space */
}
