/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply bg-richblack-900 text-richblack-5;
  overflow-y: scroll;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
#modal-root {
  @apply bg-richblack-900 text-richblack-5;
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

body {
  font-family: "Digital-7 Mono", sans-serif;
}
