/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply min-h-screen;
  font-family: "Digital-7 Mono", sans-serif;
  background: radial-gradient(circle at top, #2d0136, #0f0216 60%, #05010b 90%);
  overflow-y: scroll;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

#modal-root {
  background: radial-gradient(circle at top, #2d0136, #0f0216 60%, #05010b 90%);
}
