/* LandingPage.css */

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #1f2937; /* Dark Blue Background */
  color: white;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 1000;
}

.scroll-top.show {
  opacity: 1;
}

.scroll-top:hover {
  background-color: #3b82f6; /* Lighter Blue on Hover */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, Edge */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
